.wraper{
    display: flex;
    justify-content: space-between;
}

.name{
    display: block;
    width: 120px;
    color: #e2d5cc;
    font-weight: 600;
}

.tel{
    display: block;
    color: #e2d5cc;
    font-weight: 600;
}

.btn {
    display: flex;


    justify-content: center;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #806128;
    color: #eeded3;
    font-weight: 600;
    background-color: #ad9a76;
    transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .btn:hover,
  .btn:focus {
    background-color: rgb(152, 128, 82);
    border-color: #d3c2b7;
  }

