.wraper {
  display: block;
  padding: 8px;
  border: 1px solid #806128;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 0px rgba(130, 60, 43, 0.75);
  -webkit-box-shadow: 4px 4px 4px 0px rgba(130, 60, 43, 0.75);
  -moz-box-shadow: 4px 4px 4px 0px rgba(130, 60, 43, 0.75);
  margin-bottom: 40px;
  background-color: #a18c64;
}

.label {
  display: block;
  text-align: center;
  margin-bottom: 8px;
  color: #e2d5cc;
  font-weight: 600;
}

.input {
  width: 220px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #806128;
  color: #eeded3;
  background-color: #ad9a76;
  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 8px;
}

.input:hover,
.input:focus {
  background-color: #caac73;
  border-color: #d3c2b7;
}
